@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
html,
body
{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}

#background
{
  display: table;
  height: 100%;
  width: 100%;
  background: url("http://i.imgur.com/z1viiVo.jpg") no-repeat center center fixed;
  background-repeat: no-repeat;
  -webkit-background-size:cover;
  -moz-bakcground-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#text
{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 72px;
  color: white;
  font-weight: bold;
  font-family: Open Sans;
}

#text hr
{
  margin-top: 10px;
  width: 100px;
  height: 2px;
  color: white;
  background-color: white;
  border: 0;
}

.centered
{
  text-align: center
}

#social
{
  text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #f2f2f2;
}

#social i
{
	font-size: 40px;
	color: #4a4a4a
}

#social i:hover
{
	color: #1abc9c
}

#footerwrap 
{
	padding-top: 70px;
	padding-bottom: 50px;
	background-color: #2f2f2f;
}

#footerwrap p 
{
  font-weight:500;
  font-size: 1.2em;
	color: #f2f2f2;
	margin-left: 10px;
  font-family: Open Sans;
}
